{% extends "profil/layout/base.html" %}

{% block content %}
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style ="background-image: url(https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg?w=1200&h=627&fit=crop&auto=compress&cs=tinysrgb);">
	<div class="flex-container" style="font-family: 'Montserrat', sans-serif;">
			<div class="row" style="margin-top: 80px;">
				<div class="column" style="margin-left:30px;">
					<p style="text-align: center"><img src={{biodata.photo}} class="img-circle" alt="" width="200" height="200"></p>
					<div class="row">
						<div class="column">
								<p><b> Skill </b></p>
								<p><big> 50% </big></p>
						</div>
						<div class="column">
								<p><b> Experience </b></p>
								<p><big> 50% </big></p>
						</div>
						<div class="column">
								<p><b> Recruited </b></p>
								<p><big> 13 </big></p>
						</div>
					</div>
					<div class="row" style="align:center">
						<!-- Trigger the modal with a button -->
							<button class="btn btn-lg btn-block btn-info" id="editbutton" data-toggle="modal" data-target="#myModal">Edit Profile</button>
						<!-- Modal -->
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Edit Profile</h4>
										</div>
									<div class="modal-body">
									<form>
										<div class="form-group row">
											<label for="name" class="col-sm-2 col-form-label">Name</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="name" value="{{biodata.name}}">
											</div>
										</div>
										<div class="form-group row">
											<label for="description" class="col-sm-2 col-form-label">Description</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="description" value="{{biodata.description}}">
										</div>
										</div>
										<div class="form-group row">
											<label for="birthday" class="col-sm-2 col-form-label">Birthdate</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="birthdate" value="{{biodata.birth}}">
										</div>
									</div>
										<div class="form-group row">
											<label for="gender" class="col-sm-2 col-form-label">Gender</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="gender" value="{{biodata.sex}}">
									</div>
                          </div>
                            <div class="form-group row">
                              <label for="email" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" value="{{biodata.email}}">
                              </div>
                            </div>
                          <div class="form-group row">
                            <label for="expertise" class="col-sm-2 col-form-label">Expertise</label>
                            <div class="col-sm-10">
                              <input type="expertise" class="form-control" id="expertise" value="{{biodata.expertise}}">
                            </div>
                          </div>
                        <div class="form-group row">
                          <label for="photo" class="col-sm-2 col-form-label">Photo Image URL</label>
                          <div class="col-sm-10">
                            <input type="link" class="form-control" id="link" value="{{biodata.photo}}">
                          </div>
                      </div>
                          <div class="form-group row">
                            <div class="col-sm-10" style="float:right">
                              <button type="submit" class="btn btn-lg btn-block btn-info" id="submitbutton">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

					</div>
					
				<div class="column" style="margin-left:30px;">
					<h1 align = "left"> {{biodata.name}} </h1>
					<p><big> Front-End Developer </big><p>
					<hr class="style5">
					{% if biodata == 'Error' %}
					<table style="text-align: center">
						
						<tr>
							<th class="subject" align="left"><b>Birthdate</b></th>
							<td class="value" align="left"> biodata </td>
						</tr>
						<tr>
							<td class="subject" align="left"><b>Sex</b></th>
							<td class="value" align="left"> biodata </td>
						</tr> 
						<tr>
							<td class="subject" align="left"><b>Description</b></th>
							<td class="value" align="left"> biodata </td>
						</tr>
						<tr>
							<td class="subject" align="left"><b>Email</b></th>
							<td class="value" align="left"> biodata </td>
						</tr>    					             
					</table>
						{% else %}
					<table style="text-align: center">
						<tr>
							<th class="subject" align="left"><b>Birthdate</b></th>
							<td class="value" align="left"> {{biodata.birth}} </td>
						</tr>
						<tr>
							<td class="subject" align="left"><b>Sex</b></th>
							<td class="value" align="left"> {{biodata.sex}} </td>
						</tr> 
						<tr>
							<td class="subject" align="left"><b>Description</b></th>
							<td class="value" align="left"> {{biodata.description}} </td>
						</tr>
						<tr>
							<td class="subject" align="left"><b>Email</b></th>
							<td class="value" align="left"> {{biodata.email}} </td>
						</tr>    					             
					</table>
					{% endif %}
					<br>
					<p style="text-align: center;"><big><b> Expertise </b></big></p>
					<div class="row">
					{% if expertise == 'Error' %}
						<table style="text-align: center">
							<tr>
								<td class="column" style="text-align:center;">
								<span id="roundframe" class="roundframe">Error</span>
								</td>
							</tr>
						</table>
					{% else %}
						<table style="text-align: center">
							<tr>
								{% for j in explist %}
								<td class="column" style="text-align:center;">
								<span id="roundframe" class="roundframe">{{j}}</span>
								</td>
								{% endfor %}
							</tr>
						</table>
					{% endif %}
					</div>
				</div>
			</div>
			
	</div>	

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
