body{
  margin-top: 70px;
  margin-bottom: 0px;
}

/* Custom navbar style */
.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default{
  background-color:#283e4a;
  font-family: Source Sans Pro, Open Sans, Helvetica;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color:#c7d1d8;

}

.navbar-default .navbar-nav>li>a{
  color: #c7d1d8;

}

.navbar-default .navbar-nav>li> .active > a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 300px;
}
.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
}
@-webkit-keyframes colorchange {
 0% {
  -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
 }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
 100% {
  -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
 }
}
#input-list{
  background: linear-gradient(to bottom right, #606062, #393939);
}
#input-list form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 0px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#friend-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#friend-list .friend-list-title{
  font-size: 40px;
  margin-bottom: 0px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.new-friend{
  text-align: center;
  background: #2F4957;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
.new-friend:hover {
    -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}
.new-friend .new-friend-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
  color: #fff;
}
.new-friend .new-friend-date-added {
  font-size: 12px;
  padding: 0 10px;
  color: #fff;
  padding-bottom: 1em;
}
.new-friend .new-friend-description {
  padding: 15px 25px;
  z-index: 15;
  background: #fff;
  text-align: justify;
  overflow-wrap: break-word;
  text-align: -webkit-match-parent
}
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #e45;
  }
  to {
    box-shadow: 0 0 10px #e45, 0 0 20px #e45, 0 0 30px #e45, 0 0 40px #e45, 0 0 70px #e45, 0 0 80px #e45, 0 0 100px #e45, 0 0 150px #e45;
  }
}

footer p{
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: silver;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
  .new-friend .new-friend-delete {
    bottom: -50px;
  }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}


/* CSS MILIK ADD_FRIEND*/

.button-add-friend{
  color:#fff;
  background-color: #283E4A;
  border:0;
  border-radius: 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  height: 35px;
  width: 90px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-add-friend-hover:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
