{% extends "add_friend/layout/base.html" %}

{% block content %}

<section id="topform">
    <h2>Add Friend</h2>
    <form id="form" method="POST" action="{% url 'add-friend:new_friend' %}">
        {% csrf_token %}
        {{ add_friend_form }}
        <br>
        <button type="submit" class="button-add-friend button-add-friend-hover">Add</button>
    </form>
    <br>
    <!--{% if not valid %}
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Sorry!</strong> You've added an invalid friend.
      </div>
    {% endif %}-->
</section>

<section id="botform">
  <div class="container">
  <h3>List Friend</h3>
  <br>
    <div class="flex">
      {% if friend %}
        {% for i in friend %}
            <div class="flex-item">
                <div class="new-friend">
                    <div class="new-friend-title">
                        {{i.name}}
                    </div>
                    <div class="new-friend-date-added">
                        {{i.created_date}}
                    </div>
                    <div class="new-friend-description">
                        <a href={{i.url}}> {{i.url}} </a>
                    </div>
                </div>
            </div>
        {% endfor %}
      {% else %}
      <div class="alert alert-danger text-center">
          <strong>Oops!</strong> You have no friends.
      </div>
      {% endif %}
    </div>
  </div>
</section>

<!-- <section>
  <table class="table">
      <thead>
          <th>Name</th>
          <th>URL</th>
          <th>Date Added</th>
      </thead>
      <tbody>
           TODO, Kalau nama/url anon maka tr classnya jadi warning
          {% for i in friend %}
          {% if i.name == 'Anonymous' or i.url == 'Anonymous' %}
          <tr class="warning"> {% else %} <tr class="success">
              {% endif %}
              <td> {{i.name}} </td>
              <td><a href={{i.url}}> {{i.url}} </a></td>
              <td> {{i.created_date}} </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</section>-->

{% endblock %}
