body{
  margin-top: 50px;
}


/* HEADER - start */
/* Custom navbar style */
.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default{
  background-color:#283e4a;
  font-family: Source Sans Pro, Open Sans, Helvetica;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color:#c7d1d8;

}

.navbar-default .navbar-nav>li>a{
  color: #c7d1d8;

}

.navbar-default .navbar-nav>li> .active > a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

/* HEADER - finish */

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 250px;
}

#my-list{
  min-height: 300px;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}


/* styling wrapper form */
#input-list{
  background-color: #5bc0de;
  /*background: #f5f5f5;*/
}
/* styling form */
#input-list form{
  width: 700px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px 10px;
  box-sizing: border-box;
}

/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
    border: 0px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}


/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
}

#input-list{
  background: #f5f5f5;
}

#input-list form{
  width: 500px;
  margin: 40px auto 5px;
  text-align: center;
  z-index: 1;
  background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 15px 0px;
  box-sizing: border-box;
  position: relative;
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 5px;
  border: 0px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}


#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/* Post-Setting */
.post-setting{
  border-top: 1px solid #e6e9ec;
  position: relative;
}

/* Share Box */
/* ul */

ul {
  list-style-type: none;
}

/* li */
.upload-image, .upload-video{
  color: #84878a;
  display: inline;
  margin-right: 4px;
  position: absolute;
  float: left;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  border:1px solid rgba(0,0,0,.7);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1.5 rem;
  padding: 2px 10px;
  text-decoration:none;
  margin-top: 10px;
}

.upload-image{
  left: 1%;
}

.upload-video{
  left: 25%;
}


.button-secondary-small-media {
  height: 30px;
  padding-top:4px;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
}

label{
  line-height: 20px;
  color:rgba(0,0,0,.7);
  font-size: 15px;
  margin-bottom: 0px;
}

.svg-icon-wrap{
  display: inline-block;
}

.sharing-subaction-bar__button-text {
  vertical-align: top;
}

/* Button Post*/

.button-info{
  color:#fff;
  background-color: #0084bf;
  border:0;
  border-radius: 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  left: 43%;
  margin-top: 0px;
  height: 30px;
  width: 50px;
}


.to-do-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  width: 500px;
  margin: 40px auto;
  text-align: center;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;*/
}
.flex-item{
  /*padding: 0 15px;*/
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;

}

.pembuat{
  display: block;
  margin: 15px;
  overflow: hidden;
}

.image-status{
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  float: left;
}

.p-author{
  float: left;
  text-align: left;
}

.to-do-list .to-do-list-author {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 10px 0;
}

.to-do-list .to-do-list-date-added {
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 75px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Challenge checklist Ketiga - Ini harus dihilangkan saja.
.to-do-list .to-do-list-delete {
  bottom: -50px;
}
 */

/* Challenge Checklist Pertama : START */

/* Efek box-shadow dan animasi bergerak keatas sejauh 5px pada setiap flex-item ketika di hover */

.to-do-list:hover {
    -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

/* Challenge Checklist Pertama : END */


/* Challenge Checklist Ketiga : START */

/*Hover untuk button delete, sehingga button delete hanya akan tampil ketika salah satu to do di hover*/

.to-do-list:hover .to-do-list-delete {
  bottom: -50px;
}

.to-do-list .to-do-list-delete:hover{
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #e45;
  }
  to {
    box-shadow: 0 0 10px #e45, 0 0 20px #e45, 0 0 30px #e45, 0 0 40px #e45, 0 0 70px #e45, 0 0 80px #e45, 0 0 100px #e45, 0 0 150px #e45;
  }
}

/* Untuk ukuran screen yang kecil seperti smartphones */
@media only screen and (max-width: 480px) {
  #input-list form {
      width: 290px;
  }

  .upload-image{
    left: 1%;
  }

  .upload-video{
    left: 40%;
  }


  .flex {
    margin: 25px;
  }
  .to-do-list{
    width: 290px;
  }

  .to-do-list:hover .to-do-list-delete {
    bottom: -50px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

/* Challenge Checklist Ketiga : END; */

a.matikan{
  color:black;
}