{% extends "statistik/layout/base.html" %}

{% block content %}
<section name="my-list" id="my-list">
    <div class="container">
        <div class="pembuat">
            <center><img src="https://rosatamarindus.github.io/img/profile.jpg" class="image-status"></center>
            <div class="p-author" style="margin-bottom:0;">
                <h2>{{author}}</h2>
            </div>
            <div class="info">
                <p>Friends: {{ friend_count }} People</p><br>
                <p>Feed: {{ status_count }} Posts</p><br>
            </div>
        </div>
            <center><h4>Latest Post</h4>
            {% if latest_post is not None %}
            <p>{{ latest_post.status }}</p><br>
            <p>{{ latest_post.created_date }}</p><br>
            </center>
            {% else %}
            <div class="alert alert-danger text-center">
                Oops! Anda belum memposting apapun.
            </div>
            {% endif %}
        </section>

        {% endblock %}
