* {
    box-sizing: border-box;
}

body, html{
	margin: 0; 
	width: 100%;
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roundframe{
    border: 2px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 10px;
	background-color:#E0E0E0;
}

#roundframe{
  transition-duration: 0.5s;
}
#roundframe:hover{
  background-color: white;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
	
	p{
		text-align: center;
	}
	h1{
		text-align: center;
	}
	.upload-image{
		width: 100%;
	}
	.upload-video{
		width: 100%;
	}
	.flex-container{
		position:absolute;
		width: 100%;
		
		
	}
  #submitbutton{
    width: 150px;
  }
 

}
    .flex-container{
		position:relative;
		
		margin-left: 20%;
	}
	
	table, th, td {
        border: 1px black;
		align: left;
    }
	
	th, td {
		padding: 10px;
	}
	
	tr, td{
      text-align: left;
      padding: 10px;
	}

	hr.style5 {
		background-color: #fff;
		border-top: 2px dashed #8c8b8b;
	}
	
	/* Custom navbar style */
.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default{
  background-color:#283e4a;
  font-family: Source Sans Pro, Open Sans, Helvetica;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color:#c7d1d8;

}

.navbar-default .navbar-nav>li>a{
  color: #c7d1d8;

}

.navbar-default .navbar-nav>li> .active > a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

/* HEADER - finish */

/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

#editbutton{
	border: 2px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-right: 10px;
  border: #283e4a solid 2px;
  text-align: center;
  background-color: #283e4a;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


#editbutton:hover{
  border: #283e4a solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  color: #283e4a;
}

#submitbutton{
  width: 10vw
}
