body{
  margin-top: 40px;
}


/* HEADER - start */
/* Custom navbar style */
.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default{
  background-color:#283e4a;
  font-family: Source Sans Pro, Open Sans, Helvetica;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color:#c7d1d8;

}

.navbar-default .navbar-nav>li>a{
  color: #c7d1d8;

}

.navbar-default .navbar-nav>li> .active > a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

/* HEADER - finish */

/* Textarea not resizeable */
textarea {
    resize:none
}

#my-list{
  min-height: 575px;
  background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.info{
  display: inline;
  text-align: center;
  font-weight: 700;
}

.pembuat{
  display: block;
  margin: 15px;
  overflow: hidden;
}

.image-status{
  margin-top: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  text-align: center;
}

.p-author{
  text-align: center;
}

.to-do-list .to-do-list-author {
  font-size: 25px;
  font-weight: 800;
  display: inline-block;
  padding: 10px 10px 0;
}


/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}


/* styling wrapper form */

/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {


#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/* Post-Setting */
.post-setting{
  border-top: 1px solid #e6e9ec;
  position: relative;
}

/* Share Box */
/* ul */

ul {
  list-style-type: none;
}


label{
  line-height: 20px;
  color:rgba(0,0,0,.7);
  font-size: 15px;
  margin-bottom: 0px;
}

/* Button Post*/

.button-info{
  color:#fff;
  background-color: #0084bf;
  border:0;
  border-radius: 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  left: 43%;
  margin-top: 0px;
  height: 30px;
  width: 50px;
}


.to-do-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  width: 500px;
  margin: 40px auto;
  text-align: center;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;*/
}
.flex-item{
  /*padding: 0 15px;*/
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;

}

.pembuat{
  display: block;
  margin: 15px;
  overflow: hidden;
}

.image-status{
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  float: left;
}

.p-author{
  float: left;
  text-align: left;
}

.to-do-list .to-do-list-author {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 10px 0;
}

.to-do-list .to-do-list-date-added {
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 75px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*Hover untuk button delete, sehingga button delete hanya akan tampil ketika salah satu to do di hover*/

.to-do-list:hover .to-do-list-delete {
  bottom: -50px;
}

.to-do-list .to-do-list-delete:hover{
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #e45;
  }
  to {
    box-shadow: 0 0 10px #e45, 0 0 20px #e45, 0 0 30px #e45, 0 0 40px #e45, 0 0 70px #e45, 0 0 80px #e45, 0 0 100px #e45, 0 0 150px #e45;
  }
}

/* Untuk ukuran screen yang kecil seperti smartphones */
@media only screen and (max-width: 480px) {
  #input-list form {
      width: 290px;
  }


  .flex {
    margin: 25px;
  }
  .to-do-list{
    width: 290px;
  }

  .to-do-list:hover .to-do-list-delete {
    bottom: -50px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

/* Challenge Checklist Ketiga : END; */

a.matikan{
  color:black;
}